/* globals.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #121212;
  color: #ffffff;
}

.container {
  text-align: center;
  margin-top: 50px;
  height: 100vh;
}

h1 {
  color: #00ffcc;
}

input {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button {
  margin-left: 10px;
  padding: 10px;
  background-color: #00ffcc;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #121212;
  font-weight: bold;
}

button:hover {
  background-color: #00cc99;
}

.answer {
  margin-top: 20px;
  font-size: 18px;
}
